{% extends 'blog/../shared/base.html' %}
{% load base_tags %}
{% load render_partial %}
{% load base_tags %}
{%load static%}
{% load widget_tweaks  %}
{%block title%}
فراموشی رمز عبور
{% endblock %}
{% block header %}
{% render_partial 'header' %}
{% endblock %}
{% block main%}
    	<section class="login first grey">
		<div class="container">
			<div class="box-wrapper">
				<div class="box box-border">
					<div class="box-body">
						<h4 class="text-dark text-center text-xlarge mb-5">صفحه فراموشی رمز عبور</h4>
						<form  method="post">
                            {% csrf_token %}
							<div class="form-group">
								<label>ایمیل</label>
                                {{ form.email|add_class:"form-control text-left" }}
							</div>
							<div class="form-group text-right">
								<button class="btn btn-primary btn-block text-center" type="submit">تایید</button>
							</div>
							<div class="form-group text-center">
								<span class="text-muted">بازگشت به صفحه </span> <a href="{% url 'login' %}"
									class="text-primary text-large">ورود</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block footer %}
{% footer_view %}
{% endblock %}