{% extends 'blog/../shared/base.html' %}
{% load base_tags %}
{% load render_partial %}
{% load base_tags %}
{%load static%}
{% load widget_tweaks  %}
{%block title%}
فراموشی رمز عبور
{% endblock %}
{% render_partial 'header' %}
{% header_view %}
{% endblock %}
{% block main%}
    	<section class="login first grey">
		<div class="container">
			<div class="box-wrapper">
				<div class="box box-border">
					<div class="box-body">
						<h4 class="text-dark text-center text-xlarge mb-5">ایمیل ارسال شد</h4>
						<form  method="post">
                            {% csrf_token %}
							<div class="form-group">
                                <p>ما ایمیلی حاوی لینک بازیابی رمز عبور ارسال کردیم. در صورتی که آدرس ایمیل را به درستی وارد کرده باشید آن را دریافت خواهید کرد.</p>
							</div>
							<div class="form-group text-center">
								<span class="text-muted">بازگشت به صفحه </span> <a href="{% url 'login' %}"
									class="text-primary text-large">ورود</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block footer %}
{% footer_view %}
{% endblock %}