{% extends 'blog/../shared/base.html' %}
{% load base_tags %}
{% load render_partial %}
{% load base_tags %}
{%load static%}
{% load widget_tweaks  %}
{%block title%}
ثبت نام
{% endblock %}
{% block header %}
{% header_view %}
{% endblock %}
{% block main%}
<section class="login first grey">
   <div class="container">
      <div class="box-wrapper">
         <div class="box box-border">
            <div class="box-body">
               <h3 class="text-dark text-center text-xlarge mb-5">
               صفحه ثبت نام</h3>
               <form method="post">
                  {% csrf_token %}
                  <div class="form-group">
                     <label>نام کاربری</label>
                     {{ form.username|add_class:"form-control text-left" }}
                      {% for error in form.username.errors %}
                      <p style="color:red">{{ error }}</p>
                      {% endfor %}
                  </div>
                  <div class="form-group">
                     <label>ایمیل</label>
                     {{ form.email|add_class:"form-control text-left" }}
                       {% for error in form.email.errors %}
                      <p style="color:red">{{ error }}</p>
                      {% endfor %}
                  </div>
                  <div class="form-group">
                     <label class="fw">رمز عبور</label>
                     <div style="position:relative;display:flex;width:100%;">
                        <div style="position:relative;width:100%">
                            {{ form.password1|add_class:"form-control text-left" }}
                             {% for error in form.password1.errors %}
                              <p style="color:red">{{ error }}</p>
                              {% endfor %}
                            <input
                              type="hidden" id="passeye-0" value="Hamed13720620#hameD">
                           <div class="btn btn-primary btn-sm d-none" id="passeye-toggle-0"
                              style="position:absolute;left:10px;top:50%;transform:translate(0,-50%);-webkit-transform:translate(0,-50%);-o-transform:translate(0,-50%);padding: 2px 7px;font-size:12px;cursor:pointer;">
                              مشاهده
                           </div>
                        </div>
                        <input type="hidden" id="passeye-0">
                        <div class="btn btn-primary btn-sm" id="passeye-toggle-0"
                           style="position:absolute;left:10px;top:50%;transform:translate(0,-50%);-webkit-transform:translate(0,-50%);-o-transform:translate(0,-50%);padding: 2px 7px;font-size:12px;cursor:pointer;z-index: -1;">
                           مشاهده
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="fw">تکرار رمز عبور</label>
                     <div style="position:relative;display:flex;width:100%;">
                        <div style="position:relative;width:100%">
                           {{ form.password2|add_class:"form-control text-left" }}
                             {% for error in form.password2.errors %}
                              <p style="color:red">{{ error }}</p>
                              {% endfor %}
                            <input type="hidden" id="passeye-1">
                           <div class="btn btn-primary btn-sm d-none" id="passeye-toggle-1"
                              style="position:absolute;left:10px;top:50%;transform:translate(0,-50%);-webkit-transform:translate(0,-50%);-o-transform:translate(0,-50%);padding: 2px 7px;font-size:12px;cursor:pointer;">
                              مشاهده
                           </div>
                        </div>
                        <input type="hidden" id="passeye-0">
                        <div class="btn btn-primary btn-sm" id="passeye-toggle-0"
                           style="position:absolute;left:10px;top:50%;transform:translate(0,-50%);-webkit-transform:translate(0,-50%);-o-transform:translate(0,-50%);padding: 2px 7px;font-size:12px;cursor:pointer;z-index: -1;">
                           مشاهده
                        </div>
                     </div>
                  </div>
                  <div class="form-group text-right">
                     <button type="submit"    class="btn btn-primary btn-block text-center">ثبت نام</button>
                  </div>
                  <div class="form-group text-center">
                     <span class="text-muted">قبلا ثبت نام کرده اید؟</span> <a href="{% url 'login' %}"
                        class="text-primary">ورود</a>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}
{% block footer %}
{% footer_view %}
{% endblock %}