{% extends 'blog/../shared/base.html' %}
{% load static %}
{% load render_partial %}
{% load base_tags %}
{% load comment_tags %}
{%block title%}
{{ title }}
{% endblock %}
{% block header %}
{% render_partial 'header' %}
{% endblock %}
{% block main %}

	<section class="page">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb d-flex justify-content-center">
						<li><a href="{% url 'blog:home' %}">خانه</a></li>
						<li class="active">درباره ما</li>
					</ol>
					<h1 class="page-title text-center">درباره ما</h1>
					<div class="line thin"></div>
					<div class="page-description">
						<p>
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
						</p>

						<p>
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
							نامفهوملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
							نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
							نامفهوم
						</p>

						<p>
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
							نامفهوملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
							نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
							نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
							نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
						</p>
						<div class="question">
							سوالی دارید ؟ <a href="{% url 'contact:contact-us' %}" class="btn btn-primary">تماس با ما</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock main %}
{% block footer %}
{% footer_view %}
{% endblock %}
