{% extends 'blog/../shared/base.html' %}
{% load base_tags %}
{% load render_partial %}
{% load base_tags %}
{%load static%}
{%block title%}
{{title}}
{% endblock %}
{% block header %}
{% render_partial 'header' %}
{% endblock %}
{% block main%}
<section class="home">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <div class="headline">
               <div class="nav" id="headline-nav">
                  <a class="right carousel-control" role="button" data-slide="next">
                  <span class="ion-ios-arrow-right" aria-hidden="true"></span>
                  <span class="sr-only">بعدی</span>
                  </a>
                  <a class="left carousel-control" role="button" data-slide="prev">
                  <span class="ion-ios-arrow-left" aria-hidden="true"></span>
                  <span class="sr-only">قبلی</span>
                  </a>
               </div>
               <div class="owl-carousel owl-theme" id="headline">
                   {% for hot in hot_news|slice:"2" %}
                  <div class="item">
                     <a href="{% url 'blog:detail' hot.slug hot.id %}">
                         {{ hot.title }}
                        <div class="badge">داغ !</div>
                     </a>
                  </div>
                   {% endfor %}
               </div>
            </div>
            <div class="owl-carousel owl-theme slide" id="featured">
                {% for slider in sliders %}
                    {% for post in slider.posts_slider.all %}
               <div class="item">
                  <article class="featured">
                     <div class="overlay"></div>
                     <figure>
                        <img src="{{ post.image.url }}" alt="Sample Article">
                     </figure>
                     <div class="details">
                         {% for cat in post.category.all|slice:"1"%}
                        <div class="category"><a href="{% url 'blog:detail' post.slug post.id %}"> {{ cat.title }}     </a></div>
                             {% endfor %}
                        <h1><a href="{% url 'blog:detail' post.slug post.id %}">{{ post.title }}</a></h1>
                        <div class="time">{{ post.j_published }}</div>
                     </div>
                  </article>
               </div>
                        {% endfor %}
                {% endfor %}
            </div>
            <div class="line">
               <div>آخرین اخبار</div>
            </div>
            <div class="row">
               {% for post in posts %}
               <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="row">
                     {% for my_article in post %}
                     <article class="article col-md-12">
                        <div class="inner my-1">
                           <figure>
                              <a href="{% url 'blog:detail' my_article.slug my_article.id%}">
                              <img src="{{ my_article.image.url}}"  alt="Sample Article">
                              </a>
                              {% if my_article.is_special %}
                              <span class="badge badge-danger" style="font-size: 10px;">ویژه</span>
                              {% endif %}
                           </figure>
                           <div class="padding pt-3">
                              <div class="detail text-right">
                                 <div class="time"> {{ my_article.j_published }} <i
                                    class="fa fa-clock float-right ml-2 mt-0-5"></i>
                                 </div>
                                 <div class="category">
                                    {% for cat in my_article.category.all %}
                                    <a href="{% url 'blog:article-category' cat.slug %}">{{cat.title}}</a>
                                    {% endfor %}
                                 </div>
                              </div>
                              <h2><a href="{% url 'blog:detail' my_article.slug my_article.id%}">{{ my_article.title|truncatewords:20 }}</a></h2>
                              <p style="">{{ my_article.description|striptags|truncatewords:40|safe }}</p>
                              <footer>
                                 <a class="love" href="#">
                                    <i class="ion-android-favorite-outline"></i>
                                    <div>۳۲۷</div>
                                 </a>
                                 <a class="btn btn-primary more" href="{% url 'blog:detail' my_article.slug my_article.id%}">
                                    <div>بیشتر</div>
                                    <div><i class="ion-ios-arrow-thin-left"></i></div>
                                 </a>
                              </footer>
                           </div>
                        </div>
                     </article>
                     {% endfor %}
                  </div>
               </div>
               {% endfor %}
            </div>
            <div class="banner">
               <a href="#">
               <img src="{% static 'blog/images/ads.png' %}" alt="Sample Article">
               </a>
            </div>
            <div class="line transparent little"></div>
            <div class="row">
               <div class="col-md-6 col-sm-6 trending-tags">
                  <h1 class="title-col">برچسب های برتر</h1>
                  <div class="body-col">
                     <ol class="tags-list">
                         {% for tag in best_tag|slice:"0:10" %}
                        <li><a href="{% url 'blog:hashtag' tag.slug tag.id tag.title %}">{{ tag.title }}</a></li>
                         {% endfor %}
                     </ol>
                  </div>
               </div>
               <div class="col-md-6 col-sm-6">
                  <h1 class="title-col">
                     اخبار داغ
                     <div class="carousel-nav" id="hot-news-nav">
                        <div class="prev">
                           <i class="ion-ios-arrow-left"></i>
                        </div>
                        <div class="next">
                           <i class="ion-ios-arrow-right"></i>
                        </div>
                     </div>
                  </h1>
                  <div class="body-col vertical-slider" data-max="4" data-nav="#hot-news-nav"
                     data-item="article">
                      {% for news in hot_news|slice:"0:4" %}
                     <article class="article-mini" >
                        <div class="inner">
                           <figure>
                              <a href="s{% url 'blog:detail' news.slug news.id %}">
                              <img src="{{ news.image.url }}" alt="Sample Article">
                              </a>
                           </figure>
                           <div class="padding">
                              <h1><a href="{% url 'blog:detail' news.slug news.id %}">{{ news.title }}
                                 </a>
                              </h1>
                              <div class="detail">
                                  {% for cat in news.category.all|slice:"1" %}
                                 <div class="category"><a href="{% url 'blog:article-category' cat.slug %}">{{ cat.title }}</a></div>
                                      {% endfor %}
                                 <div class="time">{{  news.j_published}}</div>
                              </div>
                           </div>
                        </div>
                     </article>
                        {% endfor %}
                  </div>
               </div>
            </div>
            <div class="banner">
               <a href="#">
               <img src="{% static 'blog/images/ads.png'%}" alt="Sample Article">
               </a>
            </div>
            <div class="line transparent little"></div>
            <div class="row">

               <div class="col-md-6 col-sm-6 trending-tags">
                  <h1 class="title-col">برچسب های برتر</h1>
                  <div class="body-col">
                     <ol class="tags-list">
                       {% for tag in best_tag|slice:"10:20" %}
                        <li><a href="{% url 'blog:hashtag' tag.slug tag.id tag.title %}">{{ tag.title }}</a></li>
                         {% endfor %}
                     </ol>
                  </div>
               </div>
               <div class="col-md-6 col-sm-6">
                  <h1 class="title-col">
                     اخبار داغ
                     <div class="carousel-nav" id="hot-news-nav">
                        <div class="prev">
                           <i class="ion-ios-arrow-left"></i>
                        </div>
                        <div class="next">
                           <i class="ion-ios-arrow-right"></i>
                        </div>
                     </div>
                  </h1>
                  <div class="body-col vertical-slider" data-max="4" data-nav="#hot-news-nav"
                     data-item="article">

                    {% for news in hot_news|slice:"4:11" %}
                     <article class="article-mini">
                        <div class="inner">
                           <figure>
                              <a href="s{% url 'blog:detail' news.slug news.id %}">
                              <img src="{{ news.image.url }}" alt="Sample Article">
                              </a>
                           </figure>
                           <div class="padding">
                              <h1><a href="{% url 'blog:detail' news.slug news.id %}">{{ news.title }}
                                 </a>
                              </h1>
                              <div class="detail">
                                  {% for cat in news.category.all|slice:"1" %}
                                 <div class="category"><a href="{% url 'blog:article-category' cat.slug %}">{{ cat.title }}</a></div>
                                      {% endfor %}
                                 <div class="time">{{  news.j_published}}</div>
                              </div>
                           </div>
                        </div>
                     </article>
                        {% endfor %}
                  </div>
               </div>
            </div>
            <div class="line top">
               <div>برترین اخبار</div>
            </div>
            <div class="row">
                {% for news in best_news %}
               <article class="col-md-12 article-list">
                  <div class="inner">
                     <figure>
                        <a href="{% url 'blog:detail' news.slug news.id%}">
                        <img src="{{ news.image.url }}" alt="Sample Article">
                        </a>
                     </figure>
                     <div class="details">
                        <div class="detail">
                            {% for cat in news.category.all|slice:"1"%}
                           <div class="category">
                              <a href="{% url 'blog:article-category' cat.slug%}">{{ cat.title }}</a>
                           </div>
                                {% endfor %}
                           <div class="time">{{ news.j_published }}</div>
                        </div>
                        <h1><a href="{% url 'blog:detail' news.slug news.id%}">{{ news.title }}</a>
                        </h1>
                        <p>{{ news.description|striptags|truncatewords:40|safe }}
                        </p>
                        <footer>
                           <a href="{% url 'blog:like' news.id %}" class="love">
                              <i class="ion-android-favorite-outline"></i>
                              <div>{{ news.like_user.count }}</div>
                           </a>
                           <a class="btn btn-primary more" href="single-post.html">
                              <div>بیشتر</div>
                              <div><i class="ion-ios-arrow-thin-left"></i></div>
                           </a>
                        </footer>
                     </div>
                  </div>
               </article>
                {% endfor %}
            </div>
         </div>
         <div class="col-xs-6 col-md-4 sidebar" id="sidebar">
            <div class="sidebar-title for-tablet">سایدبار</div>
            <aside>
               <div class="aside-body mt-3">
                  <div class="featured-author">
                     <div class="featured-author-inner">
                        <div class="featured-author-cover"
                           style="background-image: url('{% static 'blog/images/news/img15.jpg'%}');">
                           <div class="badges">
                              <div class="badge-item"><i class="ion-star"></i> مدیر</div>
                           </div>
                           <div class="featured-author-center">
                              <figure class="featured-author-picture">
                                 <img src="{{ admin.profile_image.url }}" alt="Sample Article">
                              </figure>
                              <div class="featured-author-info">
                                 <h2 class="name">مدیر سایت</h2>
                              </div>
                           </div>
                        </div>
                        <div class="featured-author-body">
                           <div class="featured-author-count">
                              <div class="item" style="margin-right: 30px;">
                                 <a href="#">
                                    <div class="name">تعداد پست</div>
                                    <div class="value">{{ all_post.count }}</div>
                                 </a>
                              </div>
                              <div class="item" style="margin-right: 30px;">
                                 <a href="#">
                                    <div class="name">تعدا پسندها</div>
                                    <div class="value">{{ count_like }}</div>
                                 </a>
                              </div>

                           </div>

                           <div class="block">
                              <h2 class="block-title">تصاویر</h2>
                              <div class="block-body">
                                 <ul class="item-list-round" data-magnific="gallery">
                                     {% for post_image in all_post|slice:"8" %}
                                    <li><a href="{{ post_image.image.url }}"
                                       style="background-image: url('{{ post_image.image.url }}');"></a>
                                    </li>
                                    {% endfor %}
                                 </ul>
                              </div>
                           </div>
                           <div class="featured-author-footer">
                              <a href="#">مشاهده اطلاعات همه نویسنده ها</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </aside>
            <aside class="mt-3">
               <h1 class="aside-title">محبوب ترین اخبار <a href="#" class="all">مشاهده همه <i
                  class="ion-ios-arrow-left"></i></a></h1>
               <div class="aside-body">
                   {% for post in purpal_news %}
                  <article class="article-mini">
                     <div class="inner">
                        <figure>
                           <a href="{% url 'blog:detail' post.slug post.id %}">
                           <img src="{{ post.image.url }}" alt="Sample Article">
                           </a>
                        </figure>
                        <div class="padding">
                           <h1><a href="{% url 'blog:detail' post.slug post.id %}">{{ post.title }}</a>
                           </h1>
                        </div>
                     </div>
                  </article>
                   {% endfor %}
               </div>
            </aside>
            <aside>
               <div class="aside-body">
                  <form class="newsletter">
                     <div class="icon">
                        <i class="ion-ios-email-outline"></i>
                        <h1 class="text-center">خبرنامه</h1>
                     </div>
                     <div class="input-group">
                        <input type="email" class="form-control email" placeholder="ایمیل شما">
                        <div class="input-group-btn">
                           <button class="btn btn-primary"><i class="ion-paper-airplane mr-0"></i></button>
                        </div>
                     </div>
                     <p>برای دریافت آخرین اخبار، ایمیل خود را وارد کنید</p>
                  </form>
               </div>
            </aside>
            <aside class="mt-4">
               <ul class="nav nav-tabs nav-justified" role="tablist">
                  <li>
                     <a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">
                     <i class="ion-ios-chatboxes-outline"></i> نظرات کاربران
                     </a>
                  </li>
               </ul>
               <div class="tab-content">
                  <div class="tab-pane active" id="recomended">
                  <div class="tab-pane comments" id="comments">
                     <div class="comment-list sm">
                         {% for comment in comments %}
                        <div class="item">
                           <div class="user">
                              <figure>
                                 <img src="{{ comment.user.profile_image.url }}" alt="User Picture">
                              </figure>
                              <div class="details">
                                 <h5 class="name">{{ comment.user.username}}</h5>
                                 <div class="time">{{ comment.j_published}}</div>
                                 <div class="description">
                                     {{ comment.content}}
                                 </div>
                              </div>
                           </div>
                        </div>
                        {% endfor %}
                     </div>
                  </div>
               </div>
            </aside>
         </div>
      </div>
   </div>
</section>
    {% if best_news_last_week is not None %}
<section class="best-of-the-week">
   <div class="container">
      <h1>
         <div class="text">برترین اخبار هفته گذشته</div>
         <div class="carousel-nav" id="best-of-the-week-nav">
            <div class="prev">
               <i class="ion-ios-arrow-left"></i>
            </div>
            <div class="next">
               <i class="ion-ios-arrow-right"></i>
            </div>
         </div>
      </h1>
      <div class="owl-carousel owl-theme carousel-1">

          {% for news in best_news_last_week %}
         <article class="article">
            <div class="inner">
               <figure>
                  <a href="{% url 'blog:detail' news.slug news.id %}">
                  <img src="{{ news.image.url }}" alt="Sample Article">
                  </a>
               </figure>
               <div class="padding">
                  <div class="detail">
                     <div class="time">{{news.j_published}}</div>
                      {% for cat in news.category.all|slice:"1" %}
                     <div class="category"><a href="{% url 'blog:article-category' cat.slug %}">{{ cat.title|truncatewords:20 }}</a></div>
                          {% endfor %}
                  </div>
                  <h2><a href="{% url 'blog:detail' news.slug news.id %}">{{ news.title }}</a></h2>
                  <p>{{ news.description|striptags|truncatewords:20|safe }}</p>
               </div>
            </div>
         </article>
            {% endfor %}
      </div>
   </div>
</section>
    {% endif %}
{% endblock %}
{% block footer %}
{% footer_view %}
{% endblock %}