									<ul class="dropdown-menu">
                                        {% for cat in cat.children.category_active %}
                                            {% if cat.children.all  %}
										<li class="dropdown dropdown">
									<a href="{% url 'blog:category' cat.slug %}">{{ cat.title }} <i class="fa fa-angle-left"></i></a>
                                        {% include 'shared/category_loop.html' %}
								</li>
                                 {% else %}
                                       <li><a href="{% url 'blog:category' cat.slug %}">{{cat.title}}</a></li>
                                {% endif %}

                                        {% endfor %}
									</ul>