{% extends 'blog/../shared/base.html' %}
{% load static %}
{% load render_partial %}
{% load base_tags %}
{% block header %}
{% render_partial 'header'%}
{% endblock %}
{% block main %}
<section class="category first" style="padding-top: 366px;">
   <div class="container">
      <div class="row">
         <div class="col-md-12 col-lg-8 text-left">
            <div class="row">
               {% block cat_title %}
               {% endblock %}
            </div>
            {% block article %}
            {% endblock %}
            {% block paginator %}
            {% endblock %}
         </div>
      </div>
      <div class="col-md-12 col-lg-4 sidebar">
            <h1 class="aside-title">اخبار جدید</h1>
            <div class="aside-body">
                {% for end_new in end_news1 %}
               <article class="article-fw">
                  <div class="inner">
                     <figure>
                        <a href="{% url 'blog:detail' end_new.slug end_new.id %}">
                        <img src="{{ end_new.image.url }}">
                        </a>
                     </figure>
                     <div class="details">
                        <h1><a href="{% url 'blog:detail' end_new.slug end_new.id %}">{{ end_new.title }}</a>
                        </h1>
                        <p>
                            {{ end_new.descriptions }}
                        </p>
                        <div class="detail">
                           <div class="time">{{ end_new.j_published }}</div>
                            {% for cat in end_new.category.all|slice:"1" %}
                           <div class="category"><a href="{% url 'blog:article-category' cat.slug %}">{{ cat.title }}</a></div>
                                {% endfor %}
                        </div>
                     </div>
                  </div>
               </article>
                {% endfor %}
               <div class="line"></div>
                    {% for end_new in end_news2 %}
               <article class="article-mini">
                  <div class="inner">
                     <figure>
                        <a href="{% url 'blog:detail' end_new.slug end_new.id %}">
                        <img src="{{ end_new.image.url }}">
                        </a>
                     </figure>
                     <div class="padding">
                        <h1><a href="{% url 'blog:detail' end_new.slug end_new.id %}">{{ end_new.title }}</a>
                        </h1>
                        <div class="detail">
                            {% for cat in end_new.category.all|slice:"1" %}
                           <div class="category"><a href="{% url 'blog:article-category' cat.slug %}">{{ cat.title }}</a></div>
                                {% endfor %}
                           <div class="time">{{ end_new.j_published }}</div>
                        </div>
                     </div>
                  </div>
               </article>
                    {% endfor %}

            </div>
         </aside>
         <aside>
            <div class="aside-body">
               <form class="newsletter">
                  <div class="icon">
                     <i class="ion-ios-email-outline"></i>
                     <h1 class="text-center">خبرنامه</h1>
                  </div>
                  <div class="input-group">
                     <input type="email" class="form-control email" placeholder="ایمیل شما">
                     <div class="input-group-btn">
                        <button class="btn btn-primary"><i class="ion-paper-airplane mr-0"></i></button>
                     </div>
                  </div>
                  <p>برای دریافت آخرین اخبار، ایمیل خود را وارد کنید</p>
               </form>
            </div>
         </aside>
      </div>
   </div>
   </div>
</section>
{% endblock main %}
{% block footer %}
{% footer_view %}
{% endblock %}