{% load static %}
<header class="primary">
   <div class="firstbar">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12">
               <div class="brand">
                  <a href="{% url 'blog:home' %}">
                  <img src="{% static 'blog/images/logo.png'%}" alt="Magz Logo">
                  </a>
               </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
               <form class="search" autocomplete="off" action="{% url 'blog:search' %}">
                  <div class="form-group">
                     <div class="input-group">
                        <input type="text" name="q" class="form-control"
                           placeholder="جستجوی عبارت مورد نظر ...">
                        <div class="input-group-btn">
                           <button class="btn btn-primary">
                           <a class="ion-search text-white" href="{% url 'blog:search' %}"></a>
                           </button>
                        </div>
                     </div>
                  </div>
                  <div class="help-block mt-2">
                     <div>محبوب ترین ها : </div>
                     <ul>
                         {% for tag in purpal_Tag %}
                        <li><a href="{% url 'blog:hashtag' tag.slug tag.id tag.title %}">{{tag.title}}</a></li>
                        {% endfor %}
                     </ul>
                  </div>
               </form>
            </div>
             {% if not user.is_authenticated  %}
            <div class="col-lg-3 col-md-12 col-sm-12 text-right">
               <ul class="nav-icons">
                  <li>
                     <a href="{% url 'account:signup' %}">
                        <i class="ion-person-add"></i>
                        <div>ثبت نام</div>
                     </a>
                  </li>
                  <li>
                     <a href="{% url 'login_user' %}">
                        <i class="ion-person"></i>
                        <div>ورود</div>
                     </a>
                  </li>
               </ul>
            </div>
             {% endif %}
         </div>
      </div>
   </div>
   <!-- Start nav -->
   <nav class="menu">
      <div class="container">
         <div class="brand">
            <a href="{% url 'blog:home' %}">
            <img  src="{% static 'blog/images/logo.png'%}" alt="Magz Logo">
            </a>
         </div>
         <div class="mobile-toggle">
            <a href="#" data-toggle="menu" data-target="#menu-list"><i class="ion-navicon-round"></i></a>
         </div>
         <div class="mobile-toggle">
            <a href="#" data-toggle="sidebar" data-target="#sidebar"><i class="ion-ios-arrow-left"></i></a>
         </div>
         <div id="menu-list">
            <ul class="nav-list">
               <li class="for-tablet nav-title"><a>فهرست</a></li>
               <li class="for-tablet"><a href="{% url 'login_user' %}">ورود</a></li>
               <li class="for-tablet"><a href="register.html">ثبت نام</a></li>
               <li><a href="{% url 'blog:home' %}">خانه</a></li>
               <li class="dropdown magz-dropdown">
                  <a >دسته بندی ها <i class="ion-ios-arrow-left"></i></a>
                  <ul class="dropdown-menu">
                     {% for cat in category %}
                     {% if cat.parent is None %}
                     {% if cat.children.category_active %}
                     <li class="dropdown dropdown">
                        <a href="{% url 'blog:article-category' cat.slug %}">{{ cat.title }} <i class="fa fa-angle-left"></i></a>
                        {% include 'shared/category_loop.html' %}
                     </li>
                     {% else %}
                     <li><a href="{% url 'blog:article-category' cat.slug %}">{{cat.title}}</a></li>
                     {% endif %}
                     {% endif %}
                     {% endfor %}
                  </ul>
               </li>
               <li class="dropdown magz-dropdown magz-dropdown-megamenu">
                  <a href="#">
                     مگامنو <i class="ion-ios-arrow-left"></i>
                  </a>
                  <div class="dropdown-menu megamenu">
                     <div class="megamenu-inner">
                        <div class="row">
                           <div class="col-lg-3">
                              <div class="row">
                                 <div class="col-lg-12">
                                    <h2 class="megamenu-title">ویژه</h2>
                                 </div>
                              </div>
                              <ul class="vertical-menu">
                                  {% for special in post_is_special %}
                                 <li><a href="{% url 'blog:detail' special.slug special.id %}"><i class="ion-ios-circle-outline"></i>{{ special.title|truncatewords:6 }}</a>
                                 </li>
                                  {% endfor %}
                              </ul>
                           </div>
                           <div class="col-lg-9">
                              <div class="row">
                                 <div class="col-lg-12">
                                    <h2 class="megamenu-title">پست های جدید</h2>
                                 </div>
                              </div>
                              <div class="row">
                                  {% for new in new_post %}
                                 <article class="article col-lg-4 mini">
                                    <div class="inner">
                                       <figure>
                                          <a href="{% url 'blog:detail' new.slug new.id %}">
                                          <img src="{{ new.image.url }}" alt="{{ new.title}}">
                                          </a>
                                       </figure>
                                       <div class="padding">
                                          <div class="detail">
                                             <div class="time">{{ new.j_published }}</div>
                                              {% for cat in new.category.all %}
                                                  {% if forloop.first or forloop.last %}
                                             <div class="category"><a href="{% url 'blog:article-category' cat.slug %}">{{ cat.title}}</a>
                                             </div>
                                                  {% endif %}
                                                  {% endfor %}
                                          </div>
                                          <h2><a href="{% url 'blog:detail' new.slug new.id %}">{{ new.title|truncatewords:15  }}</a>
                                          </h2>
                                       </div>
                                    </div>
                                 </article>
                                {% endfor %}
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
                <li><a href="{% url 'blog:about-us' %}">درباره ما</a></li>
                <li><a href="{% url 'contact:contact-us' %}">تماس با ما</a></li>
            {% if request.user.is_authenticated %}
                <li class="dropdown magz-dropdown">
                  <a href="#">منوی کاربری <i
                     class="ion-ios-arrow-left"></i></a>
                  <ul class="dropdown-menu">
                     <li><a href="{% url 'account:home' %}"><i class="icon fa fa-user"></i> پنل کاربری</a></li>
                     <li><a href="#"><i class="icon fa fa-heart"></i> علاقه مندی ها</a></li>
                     <li><a href="#"><i class="icon fa fa-comment"></i> نظرات</a></li>
                     <li><a href=""><i class="icon fa fa-key"></i> تغییر رمز عبور</a></li>
                     <li><a href="#"><i class="icon fa fa-gears"></i> تنظیمات</a></li>
                     <li class="divider"></li>
                     <li><a href="{% url 'logout_user' %}"><i class="icon ion-log-out mt-0"></i> خروج از حساب کاربری</a></li>
                  </ul>
               </li>
            {% endif %}
            </ul>
         </div>
      </div>
   </nav>
   <!-- End nav -->
</header>