/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    src: url('../fonts/Roboto-Bold-webfont.woff');*/
/*    font-weight: 700;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    src: url('../fonts/Roboto-Regular-webfont.woff');*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*}*/

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/vazir-font-v16.1.0/Vazir.woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'IranNastaliq';
    src: url('../fonts/irannastaligh/IranNastaliq.ttf');
    font-weight: 300;
    font-style: normal;
}